.product {
  display: flex;
  flex-direction: column;
  height: 100%;
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.03);
  }

  &__title {
    margin-bottom: 8px;
  }

  &__photo {
    width: 100%;
    display: block;
  }

  a {
    display: block;
    overflow: hidden;
  }

  &__describe {
    margin-top: 0;
    font-family: 'Space Mono', monospace;

    @include on-desktop {
      width: 288px;
    }

    &--desktop {
      display: none;
    }
  }

  @include on-desktop {
    .product__describe--mobile {
      display: none;
    }

    .product__describe--desktop {
      display: block;
    }
  }

  &__price {
    margin-top: auto;
  }
}

